@model AddTransactionViewModel;
@{
    ViewData["Title"] = "AddBankAccount";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

<link rel="stylesheet" href="~/css/imageOption.css" asp-append-version="true" />
<script src="~/js/imageOption.js"></script>
<script>
    $(document).ready(function () {
        var list = $('.image-dropdown > input[type=radio]');
        list[0].checked = true;

    });
</script>
<div class="card center">
    <div class="card-body">
        <h5 class="card-title">  اضافه کردن تراکنش جدید</h5>
        <p class="card-text">
            در صورت انتخاب پلنر تراکنش، ورودی های مورد نظر به صورت خودکار پر خواهد شد و قابل تغییر نخواهد بود.
            در صورت نیاز به تغییر پلنر تراکنش، در صفحه مربوطه آن را تغییر دهید.
        </p>
        <form asp-action="AddTransactionPost" method="post" id="addTransactionForm" enctype="multipart/form-data">

            <div class="row mb-3  required-field">
                <label asp-for="Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Title" class="form-control" id="inputText">
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="row mb-3 required-field">
                <label asp-for="Amount" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Amount" class="form-control" id="transactionAmount">
                </div>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <fieldset class="row mb-3 required-field">
                <legend class="col-form-label col-sm-2 ">انتخاب حساب بانکی</legend>
                <div class="col-sm-10">
                    <div class="col-sm-2 image-dropdown">

                        @foreach (var item in Model.BankAccountViewModels)
                        {
                            string str = null;
                            if (item.URL != null)
                            {
                                var fullAddress = item.URL; //C:\Users\10\source\repos\PersonalBankAccountManager\PersonalBankAccountManager\wwwroot\images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                                var fileAddress = fullAddress.Split("wwwroot\\", 2)[1];//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                                var normalizedFileAddress = fileAddress.Replace("\\", "/");//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                                str = "../" + normalizedFileAddress;
                            }


                            <input data-val="true" class="form-check-input" type="radio" id="@item.Id" name="BankAccountId" value="@item.Id">
                            <label for="@item.Id" style="background-image : url(@str)">@Html.DisplayFor(modelItem => item.Title)</label>

                        }

                    </div>
                </div>
                <span asp-validation-for="BankAccountId" class="text-danger"></span>
            </fieldset>
            <fieldset class="row mb-3 required-field" id="iswithdrawlForm">
                <legend class="col-form-label col-sm-2 ">نوع دسته بندی</legend>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input data-val="true" class="form-check-input" type="radio" id="IsWithdrawl1" name="IsWithdrawl" value="False" asp-for="IsWithdrawl" checked>
                        <label class="form-check-label" asp-for="IsWithdrawl">
                            برداشت
                        </label>


                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="IsWithdrawl2" name="IsWithdrawl" type="radio" value="True" asp-for="IsWithdrawl">
                        <label class="form-check-label" asp-for="IsWithdrawl">
                            واریز
                        </label>


                    </div>

                    <span asp-validation-for="IsWithdrawl" class="text-danger"></span>

                </div>
            </fieldset>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="File">آپلود عکس</label>

                <div class="col-sm-10">
                    <input asp-for="File" type="File" class="form-control" />
                </div>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="row mb-3 ">
                <label asp-for="CategoryId" class="col-sm-2 col-form-label">انتخاب دسته بندی  </label>
                <div class="col-sm-10">
                    <select class="form-select" id="categories" asp-for="CategoryId">

                        @Html.Partial("_GetCategories", new List<CategoryViewModel>());
                    </select>
                </div>


                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="row mb-3 ">
                <label asp-for="TransactionPlanId" class="col-sm-2 col-form-label">انتخاب پلنر تراکنش برای انجام   </label>
                <div class="col-sm-10">
                    <select class="form-select" id="transactionPlan" asp-for="TransactionPlanId" onchange="SetPlanner(Event)">
                        <option id="optionDefault" value="">انتخاب کنید</option>
                        @foreach (var item in Model.TransactionPlanViewModels)
                        {
                            if (!item.IsPaid)
                            {
                                <option value="@item.Id">@Html.DisplayFor(modelItem => item.Name)</option>

                            }

                        }
                    </select>
                </div>


                @foreach (var item in Model.TransactionPlanViewModels)
                {
                    var selectedTime = item.TillThisDate;
                    var now = DateTime.Now;
                    bool isOverdue = selectedTime <= now;
                    <input type="hidden" class="form-control" value="@isOverdue" id="@item.Id-isOverdue">
                    <input type="hidden" class="form-control" value="@item.Amount" id="@item.Id-transactionPlanAmout">
                    <input type="hidden" class="form-control" value="@item.IsWithdrawl" id="@item.Id-transactionPlanIsWithdrawl">

                }
                <span asp-validation-for="TransactionPlanId" class="text-danger"></span>
            </div>

            <div class="row mb-3 ">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Description" class="form-control" id="inputText">
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">ثبت</button>
                <button type="reset" class="btn btn-secondary">پاک کردن</button>
            </div>




        </form>
        <!-- start: Set Planner Modal -->
        <div class="modal fade " id="setter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h3 class="modal-title">هشدار!</h3>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h4> آیا از انتخاب مطمئن هستید؟</h4>
                        <p> تاریخ نهایی این پلنر گذشته است!</p>
                    </div>
                    <!--/modal-body-collapse -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" onclick="select()">بله</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal" onclick="deSelect()">خیر</button>
                    </div>
                    <!--/modal-footer-collapse -->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <form id="addCategory" asp-action="GetCategories" method="post" data-ajax-update="#categories" data-ajax="true">
            <input id="isPositive" type="hidden" name="isPositive" value="False" />
            <input id="categoryId" type="hidden" name="categoryId" value="" />


        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
    }
}
@Html.Partial("_Footer");
