@model IEnumerable<TransactionPlanWithoutDetails>;
@{
    ViewData["Title"] = "AddTransactionPlan";
    Layout = "_Layout";
}
@Html.Partial("_dataTableHeader");
<div class="col-lg-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> پلنر ها</h5>



            <table class="table  table-hover table-bordered " id="PlannerTabel">
                <thead>
                    <tr>
                        <th class="border-bottom-0"> اسم  پلنر </th>
                        <th class="border-bottom-0">مقدار</th>
                        <th class="border-bottom-0">نوع تراکنش</th>
                        <th class="border-bottom-0">محدوددیت زمانی </th>
                        <th class="border-bottom-0">زمان ساخت</th>
                        <th class="border-bottom-0">زمان تغییر</th>
                        <th class="border-bottom-0">اعمال</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>



                            <td>

                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.IsWithdrawl)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.TillThisDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                            </td>


                            <td>
                                <a type="button" class="btn  btn-outline-warning  btn-sm" asp-controller="Planner" asp-action="UpdateBankAccount" asp-route-plannerId="@item.Id">تغییر</a>|
                                <button type="button" class="btn  btn-outline-info  btn-sm" onclick="ShowDetailsModalPlan('@item.Description')" href="">جزئیات</button>|
                                <button type="button" class="btn btn-danger  btn-sm" onclick="ShowDeleteModal('@item.Id')" href="">حذف</button>

                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                <th class="border-bottom-0"> اسم  پلنر </th>
                <th class="border-bottom-0">مقدار</th>
                <th class="border-bottom-0">نوع تراکنش</th>
                <th class="border-bottom-0">محدوددیت زمانی </th>
                <th class="border-bottom-0">زمان ساخت</th>
                <th class="border-bottom-0">زمان تغییر</th>
                <th class="border-bottom-0">اعمال</th>
                </tfoot>
            </table>
            <!-- start: Delete Planner Modal -->
            <div class="modal fade delete-modal" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h3 class="modal-title">هشدار!</h3>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h4> آیا از حذف مطمئن هستید؟</h4>
                            <p> دراین صورت، تراکنشی که آن را پرداخت کرده به پرداخت عادی تبدیل میشود</p>
                        </div>
                        <!--/modal-body-collapse -->
                        <div class="modal-footer">
                            <!--Send Data To Delete Action -->
                            <form method="post" asp-action="DeletePlanner" asp-controller="Planner">
                                <div class="mb-3 d-none">
                                    <input type="hidden" name="plannerId" class="form-control" id="entityIdInput" value="">
                                </div>
                                <button type="submit" class="btn btn-danger">بله</button>
                            </form>

                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">خیر</button>
                        </div>
                        <!--/modal-footer-collapse -->
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- start:  Planner`s Details Modal -->
            <div class="modal fade " id="details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h3 class="modal-title">جزئیات حساب بانکی</h3>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>
                                اگر این بخش را پر کرده باشید،اطلاعات نمایش داده میشود.
                                میتوانید این اطلاعات را با تغییر دادن حساب بانکی در صفحه قبل وارد نمایید.
                            </p>
                            <table class="table datatable table-hover table-bordered " >
                                <thead>
                                    <tr>
                                        
                                        <th class="border-bottom-0">توضیحات</th>


                                    </tr>
                                </thead>
                                <tbody id="details">
                                    <td id="description"></td>
                                </tbody>
                            </table>
                        </div>
                        <!--/modal-body-collapse -->
                        <div class="modal-footer">


                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">بستن</button>
                        </div>
                        <!--/modal-footer-collapse -->
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!--Get Details from action -->
            <form id="addDetails" asp-action="GetPlannerDetails" method="post" data-ajax-update="#details" data-ajax="true">
                <input id="plannerId" type="hidden" name="plannerId" value="" />


            </form>
        </div>
    </div>

</div>
@Html.Partial("_dataTableFooter");
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
    }
}
@Html.Partial("_Footer")
                                        ;

