@model IEnumerable<UserWithDetailsViewModel>;
@{

    Layout = "_Layout";
}
@Html.Partial("_dataTableHeader");

<div class="col-lg-12">


    <h5 class="card-title">کاربران</h5>


    <p>اگر نام سازنده  پر شده باشد یعنی خود شخص نیست</p>
    <table class="table  table-hover table-bordered adminTable">
        <thead>
            <tr>
                <th class="border-bottom-0"> نام کاربری</th>
                <th class="border-bottom-0"> نام</th>
                <th class="border-bottom-0"> نام خانوادگی</th>
                <th class="border-bottom-0"> سال تولد </th>
                <th class="border-bottom-0"> شماره  </th>
                <th class="border-bottom-0"> ایمیل  </th>
                <th class="border-bottom-0"> نقش  </th>
                <th class="border-bottom-0"> نام سازنده</th>
                <th class="border-bottom-0">نام تغییر دهنده </th>
                <th class="border-bottom-0">زمان ساخت</th>
                <th class="border-bottom-0">زمان تغییر</th>
                <th class="border-bottom-0">اعمال</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatorName)
                    </td>
                    <td data-order="@item.DateCreated" class="ltr">
                        @Html.DisplayFor(modelItem => item.DateCreatedFarsi)
                    </td>
                    <td data-order="@item.DateUpdated" class="ltr">
                        @Html.DisplayFor(modelItem => item.DateUpdatedFarsi)
                    </td>


                    <td>
                        @{
                            if(item.RoleName != "Admin")
                            {
                                <button type="button" class="btn btn-danger  btn-sm" onclick="ShowDeleteModal('@item.Id')" href="">حذف</button>
                                
                            }
                        }
                        

                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <th class="border-bottom-0"> نام کاربری</th>
                <th class="border-bottom-0"> نام</th>
                <th class="border-bottom-0"> نام خانوادگی</th>
                <th class="border-bottom-0"> سال تولد </th>
                <th class="border-bottom-0"> شماره  </th>
                <th class="border-bottom-0"> ایمیل  </th>
                <th class="border-bottom-0"> ایمیل  </th>
                <th class="border-bottom-0"> نام سازنده</th>
                <th class="border-bottom-0">نام تغییر دهنده </th>
                <th class="border-bottom-0">زمان ساخت</th>
                <th class="border-bottom-0">زمان تغییر</th>
                <th class="border-bottom-0">اعمال</th>

            </tr>


        </tfoot>
    </table>
    <!-- start: Delete User Modal -->
    <div class="modal fade delete-modal" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h3 class="modal-title">هشدار!</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <h4> آیا از حذف مطمئن هستید؟</h4>
                    <p>درصورت حذف کاربر، تمام حساب های او پاک میشود</p>
                </div>
                <!--/modal-body-collapse -->
                <div class="modal-footer">
                    <!--Send Data To Delete Action -->
                    <form method="post" asp-action="DeleteUser" asp-controller="Admin">
                        <div class="mb-3 d-none">
                            <input type="hidden" name="userId" class="form-control" id="entityIdInput" value="">
                        </div>
                        <button type="submit" class="btn btn-danger">بله</button>
                    </form>

                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">خیر</button>
                </div>
                <!--/modal-footer-collapse -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    @*
    </div>
    </div>
    *@
</div>



@Html.Partial("_dataTableFooter");
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
    }
}
@Html.Partial("_Footer")


