@model UserWithDetailsViewModel;
<div class="col-xl-8">

    <div class="card">
        <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">تغییر پروفایل </button>
                </li>

                <li class="nav-item">
                    <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-overview">اطلاعات</button>
                </li>




                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">تغییر پسورد </button>
                </li>

            </ul>
            <div class="tab-content pt-2">

                <div class="tab-pane fade  profile-overview" id="profile-overview">

                    <h5 class="card-title">Profile Details</h5>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label "> نام کاربری </div>
                        <div class="col-lg-9 col-md-8">@Model.UserName </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label ">اسم کامل </div>
                        <div class="col-lg-9 col-md-8">@Model.FirstName  @Model.LastName</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">تاریخ تولد</div>
                        <div class="col-lg-9 col-md-8">@Model.DateOfBirthFarsi</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">شماره</div>
                        <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">ایمیل</div>
                        <div class="col-lg-9 col-md-8">@Model.Email</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">نقش</div>
                        <div class="col-lg-9 col-md-8">@Model.RoleName</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">تاریخ ساخت</div>
                        <div class="col-lg-9 col-md-8">@Model.DateCreatedFarsi</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">تاریخ تغییر</div>
                        <div class="col-lg-9 col-md-8">@Model.DateUpdatedFarsi</div>
                    </div>

                </div>

                <div class="tab-pane fade show active profile-edit pt-3 " id="profile-edit">

                    <!-- Profile Edit Form-partial because of validation -->

                    <form method="post" asp-action="UpdateUser" asp-controller="Account">
                        
                        @{
                            if(Model.RoleName != "Admin")
                            {
                                <div class="row mb-3">
                                    <label asp-for="UserName" class="col-md-4 col-lg-3 col-form-label"> </label>
                                    <div class="col-md-8 col-lg-9">
                                        <input asp-for="UserName" type="text" class="form-control">
                                    </div>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="OldUsername" value="@Model.UserName" class="form-control">
                            }
                            else
                            {
                                
                                <input asp-for="UserName" type="hidden" class="form-control">
                            }
                        }
                        <div class="row mb-3">
                            <label asp-for="FirstName" class="col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-md-8 col-lg-9">
                                <input asp-for="FirstName" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        
                        <input asp-for="RoleName" type="hidden" class="form-control">
                        
                        <div class="row mb-3">
                            <label asp-for="LastName" class="col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-md-8 col-lg-9">
                                <input asp-for="LastName" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="DateOfBirth" class="col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-md-8 col-lg-9">
                                <input type="text" class="form-control " id="date-text" placeholder="تاریخ شمسی ">
                                <input type="hidden" asp-for="DateOfBirth" placeholder="مقدار میلادی تاریخ">
                            </div>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="PhoneNumber" class="col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-md-8 col-lg-9">
                                <input asp-for="PhoneNumber" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Email" class="col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-md-8 col-lg-9">
                                <input asp-for="Email" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">ذخیره کردن تغییرات </button>
                        </div>
                    </form><!-- End Profile Edit Form -->
                </div>
                <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->
                    <form method="post" asp-action="UpdateUser" asp-controller="Account">

                        <div class="row mb-3">
                            <label asp-for="Password" class="col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-md-8 col-lg-9">
                                <input asp-for="Password" class="form-control">
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="RePassword" class="col-md-4 col-lg-3 col-form-label"> </label>
                            <div class="col-md-8 col-lg-9">
                                <input asp-for="RePassword" class="form-control">
                            </div>
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>
                        <input asp-for="UserName" type="hidden" class="form-control">
                        <input asp-for="RoleName" type="hidden" class="form-control">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </form><!-- End Change Password Form -->

                </div>

            </div><!-- End Bordered Tabs -->

        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>
    }
}
@Html.Partial("_Footer");
