@model IEnumerable<BankAccountViewModel>;
@{
    ViewData["Title"] = "AddTransactionPlan";
    Layout = "_Layout";
}
<div class="col-lg-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">حساب ها</h5>



            <table class="table datatable table-hover table-bordered " id="bankAccountTable">
                <thead>
                    <tr>
                        <th class="border-bottom-0">
                            اسم حساب بانکی
                        </th>
                        <th class="border-bottom-0">بانک</th>
                        <th class="border-bottom-0"  >اعمال</th>

                    </tr>
                </thead>
                <tbody >
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>



                            <td >
                                @{
                                    string str = null;
                                    if (item.URL != null)
                                    {
                                        var fullAddress = item.URL; //C:\Users\10\source\repos\PersonalBankAccountManager\PersonalBankAccountManager\wwwroot\images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                                        var fileAddress = fullAddress.Split("wwwroot\\", 2)[1];//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                                        var normalizedFileAddress = fileAddress.Replace("\\", "/");//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                                        str = "../" + normalizedFileAddress;
                                        
                                        <img src="@str" class="bankImage" alt="عکس بانک">
                                       
                                    }
                                    else
                                    {
                                        <label>@Html.DisplayFor(modelItem => item.BankName)</label>
                                    }
                                }


                                @* <label for="@item.Id" style="background-image : url(@str)">@Html.DisplayFor(modelItem => item.BankName)</label> *@
                                @* <img src="@str" style="width: 200px;height: 50px;overflow: hidden;" alt="عکس بانک"> *@
                                @*  @Html.DisplayFor(modelItem => item.BankName) *@
                            </td>




                            <td>
                                @Html.ActionLink("تغییر", "Update", new { id = item.Id }) |
                                @Html.ActionLink("جزئیات", "Details", new { id = item.Id }) |
                                @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>


        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@Html.Partial("_Footer");
